* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #ff4f87;
}

/* Fondo fresitas */
.bg {
  position: fixed;
  inset: 0;
  background-image: url("./fondofresa.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

h1 {
  margin-top: 30px;
  font-size: 3rem;
}

.card {
  position: relative;
  width: 320px;
  height: 180px;
  margin: 40px auto;
  border-radius: 20px;
  overflow: hidden;
  background: #ffd1dc;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Texto que se descubre */
.prize {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  z-index: 1;
}

/* Capa de rascar */
#scratchCanvas {
  position: absolute;
  inset: 0;
  z-index: 5;
  cursor: pointer;
}

button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  background: hotpink;
  color: white;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

button:hover {
  transform: scale(1.05);
}
