* { box-sizing: border-box; }

#scratchCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5; /* MUY IMPORTANTE */
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* FONDO FRESA */
.bg {
  position: fixed;
  inset: 0;
  background-image: url("fondofresa.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}


/* CONTENEDOR */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* TEXTO FUERA DEL RASCA */
.hint {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color: #000000;
  text-shadow: 0 2px 6px rgba(255, 0, 81, 0.6);
}

/* TARJETA */
.card {
  position: relative;
  width: 360px;
  height: 330px;
  background: rgba(255,255,255,0.55);
  backdrop-filter: blur(18px);
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 25px 60px rgba(255,80,140,0.45);
  overflow: hidden;
}

h1 {
  margin: 0;
  font-size: 22px;
  color: #ff3f7f;
}

/* CONTENIDO */
.content {
  margin-top: 40px;
}

.content p {
  margin: 0;
}

.content span {
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 34px;
  margin: 10px 0;
  color: #ff4f8f;
  text-shadow: 0 0 12px rgba(255,80,140,0.7);
}

small {
  font-size: 14px;
  color: #555;
}

/* BOTÓN */
button {
  margin-top: 18px;
  padding: 14px 24px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #ff4f8f, #ff8fb7);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 12px 25px rgba(255,80,140,0.45);

  opacity: 0;
  pointer-events: none;
  transition: 0.6s;
  position: relative;
  z-index: 2;
}

button.show {
  opacity: 1;
  pointer-events: auto;
}

button:hover {
  transform: scale(1.08);
}


/* CONFETI */
.confetti {
  position: fixed;
  pointer-events: none;
  animation: explode 1.6s ease-out forwards;
}

@keyframes explode {
  to {
    transform: translate(var(--x), var(--y)) rotate(720deg);
    opacity: 0;
  }
}

